#ul_dashboard {
	margin: 0 0 0px;
}
.imageuploadify {
    border: 2px dashed #d2d2d2;
    position: relative;
    min-height: 286px;
    min-width: 228px;
    max-width: 440px;
    margin: inherit;
    display: flex;
    padding: 0;
    flex-direction: column;
    text-align: center;
    background-color: #fff;
    color: #3AA0FF;
}
.form-group {
    margin-bottom: 20px;
}